.env*
.git
.gitignore
.cache
.codeclimate.yml
.dockerignore
.gitlab-ci.yml
.hound.yml
.travis.yml
.DS_store
LICENSE.md
README.md
docker-compose.*
Dockerfile
log/*
node_modules/*
public/assets/*
storage/*
public/packs/*
public/packs-test/*
tmp/*
public/upload/*
.gitattributes
yarn-error.log
*Dockerfile*
*docker-compose*
